.text {
    position: absolute;
    width: 100%;
    font-size: xx-large;
    text-align: center;
    margin-top: 20px;
}

#link {
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: medium;
}

#images {
    margin-top: 100px;
}

img{
    max-height: 17em;
    min-height: 17em;
}


/* --------------- GALLERY ------------- */
div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

