*{
    text-decoration: none; /*fucking stubborn link underline... */
}

html{
    background-color:  #f2f2f2;
}

#navbar {
    position: relative;
    z-index: 2;
}

#title{
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-weight: bold;
    color: #23445c;
    background-color: #f5f6f5;
    border-radius: 80%;
    font-size: 2.5em;
}

.text {
    position: absolute;
    width: 100%;
    font-size: xx-large;
    text-align: center;
    margin-top: 20px;
}

#link {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: medium;
    width: 30%;
    left: 35%;
    background-color: gray;
    border-radius: 30%;
    text-decoration: none;
    color: whitesmoke;
    padding: 3px 0 3px 0;
    border: solid 0.5px #70888b;
}
#link:hover{
    background-color: darkgray;
    color: #B22222;
    padding: 4px 0 4px 0;
}

#underText {
    margin-top: 105px;
    margin-bottom: 20px;
    font-size: small;
}

#infoButton{

    cursor: pointer;
}

#fadeOut{
    display: none;
    opacity:0.5;
    background-color:black;
    position:fixed;
    width:100%;
    height:100%;
    top: 0px;
    left:0px;
    z-index: 1;
}

#infoBox {
    display: none;
    position: absolute;
    top: 12%;
    left: 5%;
    width: 90%;
    background-color: #4d4d4d;
    color: #e6e6e6;
    text-align: left;
    padding: 1%;
    font-size: medium;
    font-family: Areal;
    border-radius: 2%;
    border: 1px solid  #752424;
    z-index: 2;
    padding-left: 3%;
    min-height: 80%;
}
@media (max-width: 90em) {
    #infoBox{
        font-size: x-large;
    }
}

#infoBox:link, #infoBox: visited{
    color: #8B0000;
}

#close {
    position: absolute;
    top: 5px;
    right: 25px;
    color: #f1f1f1;
    font-size: 60px;
    font-weight: bold;
    transition: 0.3s;
}

#close:hover,
#close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#infoBox h2 {
    text-align: center;
    padding-left: 0;
}

#infoInner{
    text-align: left;
    padding-left: 10%;
    margin-bottom: 80px;
}

@media (max-width: 900px) {
    #infoBox{
        font-size: medium;
    }
}

@media (max-width: 650px) {
    #infoBox{
        font-size: small;
    }
}

/* ----------- Logo Banner ----------- */
.logos{
    min-height: 60px;
    max-height: 60px;
    bottom: 10px;
    position: absolute;
}
.logos:hover{
    opacity: 0.8;
}

#logoOne{
    background-image: url("../images/lundinv23.gif");    
    width: 150px;
    margin-left: -25px;
}
#logoTwo{
    background-image: url("../images/esa.png");    
    margin-left: 150px;
    width: 136px;
}
#logoThree{
    background-image: url("../images/copernicus.png");    
    margin-left: 320px;
    width: 165px;
}
#logoFour{
    background-image: url("../images/yr.png");    
    margin-left: 520px;
    width: 60px;
}
#logoFive{
    right: 20px;
    bottom: 10px;
    position: absolute;
    font-size: small;
    color: #892a2a ;
}

/* IMAGES */
#images {
    margin-top: 145px;
}

img{
    max-height: 17em;
    min-height: 17em;
    cursor: pointer;
}

/* --------------- GALLERY ------------- */
div.gallery {
    border: 1px solid #ccc;
    z-index: -2;
    background-color: #d9d9d9;
}

div.gallery:hover {
    border: 1px solid #777;
    opacity: 0.9;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    position: relative;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.gallery{
    /*position: relative;  Used to place popup inside gallery div */
}

.gallery a{
}

/* --------------- Images Popup ------------- */
.popup {
    top: 10%;
    left: 5%;
    width: 90%;
    height: 60%;
    background-color: rgba(123, 100, 100, 0.8);
    z-index: 1;
    position: absolute;
    border: solid 2px gray;
    border-radius: 10%;
    display: none;
}

.popup p {
    background-color: gray;
    border-radius: 15%;
    text-decoration: none;
    color: whitesmoke;
    margin: 8% 0 0 0;
    padding: 5px 0 5px 0;
    border: solid 0.5px #70888b;
    z-index: 3;
    text-align: center;
}

.popup_first p{
    margin: 10% 0 0 0;
}
.popup p:hover {
    background-color: darkgray;
    text-decoration: none;
    color: #B22222;
}
/* ----------------------------------- */

